.kapcsolat{
   
    width: 100px;
    border-radius: 10px;
    position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99; 
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
}
.kapcsolat a {
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: white;
}
.kapcs{
    color: white;
   background-color: rgb(110, 6, 6);
}
.kartya{
    max-width: 18rem;
}
.card-title{
    color: white;
   background-color: rgb(110, 6, 6); 
}

.logo{
    width: 20%;
}

.csapat{
    width: 30%;
}

#carouselExampleDark{
    width: 20%;
}

.tablazat{
   float: right;
   width: 85%;
}

#thead{
    background-color: rgb(110, 6, 6); 
    color: white; 
}

.jegyvasarlas{
    background-color:rgb(110, 6, 6);
    border:rgb(110, 6, 6);
    color: white;
}

#table{
    text-align: center;
}
.orszag{
    height: 50px;
    width: 50pxpx;
}
h1{
    text-align: center;
}
h2{
    color: white;
}
.gomb{
    color: white;
    background-color: rgb(110, 6, 6);
}
.szponzorok h2{
    color: black;

}
.tortenet .card-title{
    background-color: rgb(110, 6, 6);
    padding: 5px;
   
}
.tortenet{

    border: black solid 2px;
}
#dardai{
   width: 90%;
}
#egervari{
    width: 90%;
    
   
 }
 #gera{
    width: 90%;
   
 }
 #rossi{
     width: 90%;
 }
 .cim{
     color: black;
 }
 .tel{
     color: black;
 }
 .kapcscim{
    color: white;
    background-color: rgb(110, 6, 6);
    
   
 }
 .hirek{
     text-align: justify;
 }
 .webshopcim{
     color: black;
 }
 #linkcim{
     color: black;
    
    }
    .kapus{
        color: black;
    }
    .hir{
        color: black;
    }